.sass-cache
*.bak
*.orig
Gemfile.lock
bower_components
node_modules
/temp
connectRest*.log

# IDE files
nbproject
.idea
.netbeans.xml

# Dist
/css/
/js/

# Per-user config
/config.js
/gulp-config-user.js
